<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Stock</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    Description: <select ng-model="description" ng-options="x for x in descriptionSelectBox"></select><br>
                    <br>
                    Quantity: <input ng-model="quantity"></input><br>
                    <br>
                    Price: <input ng-model="price"></input>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button ng-click="addEntry()" type="button" class="btn btn-primary" data-dismiss="modal">Add Stock</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sellModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sellModalLabel">Sell Stock</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    Description: <select ng-model="description" ng-options="x for x in descriptionSelectBox"></select><br>
                    <br>
                    Quantity: <input ng-model="quantity"></input><br>
                    <br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button ng-click="sellStock()" type="button" class="btn btn-primary" data-dismiss="modal">Sell Stock</button>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
            <i class="fas fa-plus"></i> Add Stock
        </button>
    </div>
    <div class="col">
        <button ng-click="resetData()" type="button" class="btn btn-primary"><i class="fas fa-sync"></i> Reset Data</button>
    </div>
    <div class="col">
        <h5>Select Test Case:   </h5>
        <select ng-model="currentCase" ng-options="x for x in testCase" ng-change="updateTableData()"></select>
    </div>
    <div class="col">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#sellModal">
            <i class="fas fa-dollar-sign"></i> Sell Stock
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary">
            What If
        </button>
    </div>
</div>

<div class="row">
    <div class="col">
    <input type="text" ng-model="search" class="form-control" placeholder="Search">
    </div>
    <div class="col">
        Profit/Loss: {{profitOrLoss}}
    </div>
    <div class="col">
        Net Profit/Loss (Sold Separately): {{netProfit}}
    </div>
</div>
<table id="stock-table" class="table table-sm">
    <thead id="stock-table-header" class="thead-dark">
        <tr>
            <th id="stock-description">Description</th>
            <th id="stock-location">Location</th>
            <th id="stock-symbol">Symbol</th>
            <th id="stock-date-in">Date Bought</th>
            <th id="stock-date-out">Date Out</th>
            <th id="stock-quantity">Quantity</th>
            <th id="stock-total">Total Quantity</th>
            <th id="stock-cost">Cost</th>
            <th id="stock-purchase-price">Purchase Price</th>
            <th id="stock-price">Price</th>
            <th id="stock-value">Value</th>
            <th id="stock-gain-or-loss">Gain/Loss</th>
            <th id="stock-total-gain-or-loss">Cumulative Gain/Loss</th>
            <th id="stock-percent-gain-loss">% Gain/Loss</th>
            <th id="stock-sell-cost">Sell Costs</th>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate="value in allStocks|filter:search|itemsPerPage:10">
            <td>{{value.description}}</td>
            <td>{{value.location}}</td>
            <td>{{value.symbol}}</td>
            <td>{{value.dateIn}}</td>
            <td>{{value.dateOut}}</td>
            <td>{{value.quantity}}</td>
            <td>{{value.total}}</td>
            <td>{{value.cost}}</td>
            <td>{{value.purchasePrice}}</td>
            <td>{{value.price}}</td>
            <td>{{value.value}}</td>
            <td ng-if="value.gainOrLost < 0" class="text-danger">{{value.gainOrLost}}</td>
            <td ng-if="value.gainOrLost > 0" class="text-success">{{value.gainOrLost}}</td>
            <td></td>
            <td ng-if="value.gainOrLost < 0" class="text-danger">{{value.percentGainOrLost}}</td>
            <td ng-if="value.gainOrLost > 0" class="text-success">{{value.percentGainOrLost}}</td>
            <td>{{value.sellCosts}}</td>
        </tr>
    </tbody>
</table>
<div class="pagination">
<dir-pagination-controls
        max-size="5"
        direction-links="true"
        boundary-links="true" >
</dir-pagination-controls>
</div>
<div class="row">
    <div class="col">
        Total Purchase Price: {{purchasePriceTotal}}
    </div>
    <div class="col">
        Total Sell Costs: {{totalSellPrice}}
    </div>
    <div class="col">
        Total Current Price: {{totalCurrentValue}}
    </div>
    <div class="col">
        Net Total Current Price: {{currentValueAfterSellPrice}}
    </div>
</div>


